{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>&nbsp;</p>
        <p>Содержимое страницы:</p>
        <pre>/markup/views/default/index.html.twig</pre>
    </div>
{% endblock %}